<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 2.2. Операторы IN, BETWEEN, LIKE, IS NULL</p> 

<a id = Home></a>

28 февраля 2022 года, пн<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)

3 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)

<img src="../Img/t1.1_student.png" style="width:60%">

```
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.
```

<img src="../Img/t1.2_lecturer.png" style="width:60%">

```
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель
```

<img src="../Img/t1.3_subject.png" style="width:60%">

```
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.
```

<img src="../Img/t1.4_university.png" style="width:60%">

```
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.
```

<img src="../Img/t1.5_exam_marks.png" style="width:60%">

```
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.
```

<img src="../Img/t1.6_subj_lect.png" style="width:40%">

```
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

Операторы IN (равен любому из списка) и NOT IN (не равен ни одному из списка) используются для сравнения проверяемого значения поля с заданным списком. Этот список значений указывается в скобках справа от оператора IN. 

Пример.<br> Получить из таблицы EXAM_MARKS сведения о студентах, имеющих экзаменационные оценки только 4 и 5.
```
SELECT *
    FROM EXAM_MARKS
    WHERE MARK IN (4, 5);
```

Пример.<br>
Получить сведения о студентах, не имеющих ни одной экзаменационной оценки 4 или 5.
```
SELECT *
    FROM EXAM_MARKS
    WHERE MARK NOT IN (4, 5)
```

Список значений не обязательно задается в явном виде, он может представлять собой результат подзапроса.
```
SELECT *
    FROM student
    WHERE city in (select city from lecturer);
```

Оператор BETWEEN используется для проверки условия вхождения значения поля в заданный интервал, т. е. вместо списка значений атрибута этот оператор задает границы его изменения.

Пример.<br>
Получить сведения о предметах обучения, для которых количество отводимых часов лежит в пределах между 34 и 40.

```
SELECT *
    FROM SUBJECT
    WHERE HOUR BETWEEN 34 AND 40;
```

Оператор LIKE применим только к символьным полям типа CHAR или VARCHAR. Этот оператор осуществляет просмотр строковых значений полей с целью определения, входит ли заданная в операторе LIKE подстрока (образец поиска) в символьную строку, являющуюся значением проверяемого поля.

можно применять шаблон искомого образца строки, использующий следующие символы:
- символ подчеркивания “_”, указанный в шаблоне образца, определяет возможность наличия в указанном месте одного любого символа;
- символ “%” допускает присутствие в указанном месте проверяемой строки последовательности любых символов произвольной длины.

Пример.<br>
Написать запрос, выбирающий из таблицы STUDENT сведения о студентах, у которых фамилии начинаются на букву “Р”.
```
SELECT *
FROM STUDENT
WHERE SURNAME LIKE "Р%";
```

В операторах сравнения =, <, >, <=, >=, <> и операторах **IN**, **BETWEEN** и **LIKE** при использовании **NULL** в качестве операнда будет возвращаться также **NULL**. В связи с этим, для проверки содержимого поля на наличие (отсутствие) в нем пустого значения **NULL** следует использовать специально предназначенные для этого операторы **IS NULL** (ЯВЛЯЕТСЯ ПУСТЫМ) и **IS NOT NULL** (НЕ ЯВЛЯЕТСЯ ПУСТЫМ), а не выражения = **NULL** или <> **NULL**.

<img src=../Img/pencil.png style="width:150px;height:150px">

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания 1-13 </p>

1. Напишите запрос, выполняющий вывод находящихся в таблице EXAM_MARKS номеров предметов обучения, экзамены по которым сдавались в 2000 году.
2. Напишите запрос, выбирающий данные обо всех предметах обучения, экзамены по которым сданы студентами с идентификаторами 12 и 32.
3. Напишите запрос, который выполняет вывод названий предметов обучения, начинающихся на букву ‘И’.
4. Напишите запрос, выбирающий сведения о студентах, у которых имена начинаются на букву ‘И’ или ‘С’.
5. Напишите запрос для выбора из таблицы EXAM_MARKS записей, для которых отсутствуют значения оценок (поле MARK).
6. Напишите запрос, выполняющий вывод из таблицы EXAM_MARKS записей, для которых в поле MARK проставлены значения оценок для экзаменов в 2019 году.
7. Напишите запрос для получения списка преподавателей, проживающих в городах, в названиях которых присутствует дефис.
8. Напишите запрос для получения списка учебных заведений, в названиях которых использованы кавычки.
9. Напишите запрос для получения списка предметов, названия которых оканчиваются на ‘ия’.
10. Напишите запрос для получения списка учебных заведений, в названиях которых содержится слово ‘университет’.
11. Напишите запрос для получения списка студентов, фамилии которых начинаются на ‘Ков’ или на ‘Куз’.
12. Напишите запрос для получения списка предметов обучения, названия которых состоят из более одного слова.
13. Напишите запрос для получения списка студентов, фамилии которых состоят из трех букв.